body{
    background-color: rgba(0, 0, 0, 0.993);
    font: normal 15pt Arial;
    color: white;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: rgb(63, 60, 60);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(93, 85, 114, 0.993);
}

div{
    text-align: center;
    padding: 5px;
}

footer{
    text-align: center;
    font-style: italic;
    color: white;
}

select{
    width: 25%;
    text-align: center;
    border-radius: 5%;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgb(160, 160, 160);
}

.cor-blue{
    background-color: rgb(28, 141, 206);
}
.cor-back{
    background-color: rgb(56, 53, 53);
}

