body{
    background-color: rgb(255, 86, 165);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #000000;
}

div#tabuada{
    background-color: rgb(105, 54, 243);
    margin: 100px;
    padding: 200px;
}
div#result{
    margin-top: 50px;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}